/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

    header {
        background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('/inhabitent/wp-content/themes/inhabitent/images/home-hero.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 3rem 1fr;
    
        .site-branding {
        margin-left: 7rem;
        .homelogo {
            margin: 0;
        }
        .home {
            height: 2rem;
            justify-content: center;
        }
        }
    
        nav {
        grid-column: 3;
    
        .menu-site-navigation-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3rem;
        }
    
        li {
            font-size: 1rem;
            line-height: 1.75;
            padding-left: 1.5rem;
            a {
            color: white;
            font-family: "Novecento";
            text-shadow: 1px 1px 2px #323232;
            }
        }
        }
        
        .logo {
            grid-column: 2;
            grid-row: 2;
            justify-self: center;
            align-self: center;
        }
    }

    footer {
        background-image: url('/inhabitent/wp-content/themes/inhabitent/images/dark-wood@2x.png');
        background-size: contain;
        color:white;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 5rem;
    
        .site-info {
        grid-column: 1;
        grid-row: 1;
        justify-self: center;
        align-self: center;
            h3 {
                color: #d99054;
                font-family: 'Novecento-Bold';
                letter-spacing: 2px;
            }
            a {
            color: white;
            font-family: 'Merriweather';
            padding-left: 0.5rem;
            }
            .icons {
            padding: 0.25rem;
            }
        }
        
        .business-hours {
            grid-column: 2;
            grid-row: 1;
            align-self: center;
                h3 {
                color: #d99054;
                font-family: 'Novecento-Bold';
                letter-spacing: 2px;
                }
                p {
                color: white;
                font-family: 'Merriweather';
                .week {
                font-family: 'Merriweather-Bold'; 
                    }
                }
            }
    
            .inhabitent-logo {
            grid-column: 3;
            grid-row: 1;
            align-self: center;
            justify-self: center;
                }
    
            .copyright {
            grid-column: 2;
            grid-row: 2;    
            justify-self: center;
            p {
                color: white;
                font-family: 'Novecento';
                    }
                }
    }

/* Shop page */



/* Journal page */

.blog {

    #page {
        grid-template-rows: 3rem auto;
        grid-template-columns: 1fr 26rem;
        }

    header {
        grid-template-rows: 1fr;
        grid-column: 1/3;
        background-image: none;
        border-bottom: 1px solid #e1e1e1;

        .logo {
            display: none;
        }
    }

    .entry-header {
        display: none;
    }

    #secondary {
        grid-column: 2;
        grid-row: 2;
        text-align: center;
        font-family: "Merriweather";

        h2 {
            font-family: "Novecento";
            color: #2f1339;
            font-size: 1.75rem;
            line-height: 1.75rem;
            letter-spacing: 2px;
        }

        span {
            font-family: "Merriweather-Bold";
        }
    }

}

/* About Us page */

.page-id-30 {

    #page {
    grid-template-rows: 49.5rem 1fr;
    }

    header {
        background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('/inhabitent/wp-content/themes/inhabitent/images/about-hero.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 3rem 1fr;

        .logo {
            display: none;
        }

        .about {
            grid-column: 2;
            grid-row: 2;
            justify-self: center;
            align-self: center;
            font-size: 3rem;
        }
    }
    
    .entry-header {
        display: none;
    }

    .entry-content {
        max-width: 800px;
        margin-top: 3rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5rem;

        h2 {
            text-align: center;
            font-size: 2.1rem;
            line-height: 1.25rem;
            letter-spacing: 2px;
            margin-bottom: 1.5rem;
            font-family: "Novecento-Bold";
            color: #2f1339;
        }

        p {
            font-size: 1rem;
            line-height: 1.75rem;
            font-family: "Merriweather";
        }
    }


}

/* Find Us page */

.page-id-32 {

    #page {
        grid-template-rows: 3rem auto;
        grid-template-columns: 1fr 26rem;
        }

    header {
        grid-template-rows: 1fr;
        grid-column: 1/3;
        background-image: none;
        border-bottom: 1px solid #e1e1e1;

        .logo {
            display: none;
        }

        nav {
            li {
                a {
                    color:#248A83;
                    text-shadow: none;
                }
            }
        }
    }
    
    .entry-header {
        display: none;
    }

    #primary {
        grid-row: 2;
        border-right: 1px solid #e1e1e1;
        align-items: center;

        iframe {
        border: none;
        }

        h2 {
            margin-left: 5%;
            font-size: 2.1rem;
            line-height: 1.25rem;
            letter-spacing: 2px;
            margin-bottom: 1.5rem;
            font-family: "Novecento-Bold";
            color: #2f1339;
        }

        p {
            margin-left: 5%;
            font-size: 1rem;
            line-height: 1.75rem;
            font-family: "Merriweather";
        }

        form {
            label {
                font-family: "Novecento";
                color: #2f1339;
            }
            input {
                background-color: #f4f4f4;
                border: 1px solid #e1e1e1;
                border-radius: 0;
            }

            textarea {
                background-color: #f4f4f4;
                border: 1px solid #e1e1e1;
                border-radius: 0;
                max-width: 88%;
            }

            input[type="button"],
            input[type="reset"],
            input[type="submit"] {
                background: #248a83;
                border: none;
                border-radius: 0;
                color: #fff;
                cursor: pointer;
                font-family: "Novecento";
                font-size: 14.4px;
                font-size: .9rem;
                line-height: 1;
                padding: .75rem 1.5rem;
                }
        }
    }

    #secondary {
        grid-column: 2;
        grid-row: 2;
        text-align: center;
        font-family: "Merriweather";

        h2 {
            font-family: "Novecento";
            color: #2f1339;
            font-size: 1.75rem;
            line-height: 1.75rem;
            letter-spacing: 2px;
        }

        span {
            font-family: "Merriweather-Bold";
        }
    }
}

