@font-face {
    font-family: '.';
    src: url('47679d8b9b377cf3f6c0f9245446850c.eot');
    src: url('47679d8b9b377cf3f6c0f9245446850c.eot?#iefix') format('embedded-opentype'),
        url('47679d8b9b377cf3f6c0f9245446850c.woff2') format('woff2'),
        url('47679d8b9b377cf3f6c0f9245446850c.woff') format('woff'),
        url('47679d8b9b377cf3f6c0f9245446850c.ttf') format('truetype'),
        url('47679d8b9b377cf3f6c0f9245446850c.svg#.') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '.';
    src: url('b75a51577d75fc2109090a54bd4be0f3.eot');
    src: url('b75a51577d75fc2109090a54bd4be0f3.eot?#iefix') format('embedded-opentype'),
        url('b75a51577d75fc2109090a54bd4be0f3.woff2') format('woff2'),
        url('b75a51577d75fc2109090a54bd4be0f3.woff') format('woff'),
        url('b75a51577d75fc2109090a54bd4be0f3.ttf') format('truetype'),
        url('b75a51577d75fc2109090a54bd4be0f3.svg#.') format('svg');
    font-weight: bold;
    font-style: normal;
}

